@media (max-width: 481px) {
  .download-button {
    text-align: center;
    margin-top: 50px;
  }

  .row div {
    flex: none;
  }

  nav {
    // background-color: red;
    padding: 0px 10px;
    border-bottom: solid 1px rgb(24, 46, 96);

    #mobile-menu {
      display: block;
      font-size: 3rem;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      position: absolute;
      background-color: rgb(24, 46, 96);
      top: 65px;
      left: 0;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 0vh;
      overflow: hidden;
    }
  }

  #home {
    // background-color: rgb(11, 78, 11);
    padding: 10px;

    #hero-section {
      .text-image-wrapper {
        height: inherit !important;
        display: flex;
        flex-direction: column;
        align-items: center !important;

        #hero-text {
          width: 100%;
          text-align: center;
          margin-top: 80px;

          #greetings {
            font-size: 2rem;
            margin-bottom: 25px;
            color: #48e9f1;
          }
          #name {
            font-size: 3rem;
          }

          #slogan {
            font-size: 1.5rem;
            margin-bottom: 35px;
            margin-top: -10px;
          }
        }

        .show-more-button {
          .btn-wrapper {
            border: solid 1px #48e9f1;
            // border-radius: 3px;
            width: 100% !important;
            // height: 56px;

            button {
              width: 100% !important;
            }
          }
        }

        #image-wrapper {
          width: 100%;
          display: none;
        }
      }
    }
  }

  #socials {
    right: -8px !important;
  }

  .text-image-wrapper div:nth-child(2) {
    display: none;
  }

  //ABOUT
  #about-section {
    height: auto;

    #about-wrapper {
      width: 80%;
      margin: auto;
      flex-direction: column;

      .content-wrapper {
        display: flex;
        flex-direction: column;

        .text-wrapper {
          width: 100%;
        }

        .image-wrapper {
          width: 100%;
          margin-top: 50px;

          img {
            width: 250px;
            position: absolute;
            margin-bottom: -30px;
            transition: 0.4s;
          }
        }
      }
    }
  }

  //EXPERIENCE
  #work-experience-section {
    height: auto;
    padding-top: 100px;

    #work-experience-wrapper {
      width: 90%;
      margin: auto;

      .content-wrapper {
        flex-direction: column;
        margin: auto;

        #year-menu {
          width: 100%;

          ul {
            background-color: #162342;
            margin-bottom: 20px;
            overflow: hidden;
            height: 60px;

            li {
              padding: 20px 12px;
              color: #94a3b8;
              font-size: 0.9rem;
            }

            li:nth-child(1) {
              border-bottom: solid 1px #1a3554;
              position: relative;

              #year-menu-arrow-down {
                position: absolute;
                display: inline-block;
                right: 30px;
              }
            }
            li a:hover {
              cursor: pointer;
            }
          }
        }
      }

      #year-description {
        width: 100%;

        .work-experience-card-wrapper {
          margin-left: 0px;
        }
      }
    }
  }

  //Skills
  #languages-and-skills-section {
    // height: 100vh;
    padding-top: 200px;

    #languages-wrapper {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      flex-wrap: wrap;

      .app-card {
        width: 100%;

        img {
          width: 3.8rem;
          display: inline-block;
        }

        p {
          margin-left: 1.5rem;
        }
      }
    }
  }

  //Project
  #project-section {
    height: auto;
    padding-top: 100px;

    #project-wrapper {
      width: 90%;

      .project-folder-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
          width: 100%;
        }

        .project-folder-card {
          margin: 15px 0px;
        }
      }
    }
  }

  //Projects
  #projects-section {
    #graphics-modal {
      height: 100vh !important;
      overflow: scroll;
      position: fixed;

      #modal-content {
        width: 100%;
      }
      #largeImageWrapper {
        flex-direction: column;
        align-items: center;
        width: 100% !important;

        #largeImage {
          width: auto !important;
        }
      }
      .show-more-button {
        align-items: flex-start;

        .btn-wrapper {
          width: 100% !important;
          background-color: inherit !important;
          // border: none;
          border-top: none;
          border-left: none;

          button {
            background-color: inherit !important;
            width: 100% !important;
          }
        }
      }
    }

    .featured-graphics-wrapper {
      flex-wrap: wrap !important;
    }
  }

  //Contact
  #contact-section {
    height: 100vh;
    padding-top: 100px;

    #contact-wrapper {
      width: 90%;

      #contact-content {
        height: 70vh;
        border: solid 1px white;
        padding: 10px;

        #contact-text-heading {
          font-size: 3.5rem;
          color: #e2e8f0;
        }
      }
    }
  }

  //footer
  footer {
    font-size: 0.8rem;
  }
}
