//Viewports

//MOBILE
@media (max-width: 480px) {
  //NAVBAR
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    #mobile-menu {
      display: block;
      span {
        font-size: 35px;
        padding: 10px;
      }
    }
    #my-logo {
      padding: 10px;
    }
    #toggle-links {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 80px;
      width: 100vw;
      height: 0vh;
      overflow: hidden;
      transition: 0.4s;
      li {
        background-color: #102340;
        padding: 25px 25px;
      }
    }
  }

  //HERO
  #home {
    // background-color: firebrick;
    height: auto;
    padding: 50px 20px;
    #hero-section {
      overflow: visible;
      .text-image-wrapper {
        text-align: center;
        #hero-text {
          #greetings {
            font-size: 3.5rem;
            margin-bottom: 50px;
          }
          #name {
            color: #e2e8f0;
            font-size: 5.9rem;
            line-height: 7rem;
          }
          #position {
            color: #94a3b8;
            font-size: 2.3rem;
            margin-bottom: 50px;
            line-height: 3rem;
          }
          #slogan {
            line-height: 2rem;
            font-size: 1.1rem;
          }

          .show-more-button {
            display: flex !important;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 10px;

            .btn-wrapper {
              border: solid 1px #48e9f1;
              background-color: #48e9f1;
              // border-radius: 3px;
              width: 45%;
              // height: 56px;

              button {
                width: 100% !important;
                background-color: #101c37 !important;
              }
            }
          }
        }
      }
    }
  }

  //ABOUT
  #about-section {
    display: flex;
    height: auto;
    padding-top: 50px;

    #about-wrapper {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .content-wrapper {
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;

        .text-wrapper {
          width: 90%;
          p {
            font-size: 1.3rem;
            line-height: 30px;
          }
        }

        .image-wrapper {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          position: relative;
          margin-bottom: 60px;

          #image-container {
            border: solid 1px #56d8d5;
            width: 240px;
            height: 240px;
          }

          img {
            position: absolute;
            margin-top: -15px;
            margin-left: -25px;
            transition: 0.4s;
          }
        }
      }
    }
  }

  //EXPERIENCE
  #work-experience-section {
    padding: 100px 0px;
    margin-bottom: 10px;
    height: auto;
    #work-experience-wrapper {
      width: 90%;
      // height: auto;
      margin: auto;
      .content-wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
        #year-menu {
          width: 100%;
          overflow: scroll;
          margin-bottom: 20px;
          ul {
            display: flex;
            // flex-wrap: wrap;
            #year-menu-arrow-down {
              display: none;
            }
            .active {
              border-bottom: solid 2px#48e9f1 !important;
              border-left: none;
              color: #48e9f1;
            }
            li {
              padding: 20px 12px;
              color: #94a3b8ab;
              font-size: 0.9rem;
              border: none;
              cursor: pointer;
            }
            li:hover:not(.active) {
              border-bottom: solid 2px #48e9f1;
              color: #48e9f1;
            }
          }
        }
        #year-description {
          width: 100%;
          height: 99vh !important;
          position: relative;
          .work-experience-card-wrapper {
            background-color: #102340;
            border: solid 1px #0b1928;
            padding: 20px;
            position: absolute;
            margin-left: 700px;
            transition: 0.4s;
            width: 93%;
            margin-bottom: 15px;
            overflow-y: scroll;
            .position-and-company {
              color: #e2e8f0;
              font-size: 16px;
              .dash {
                color: #48e9f1;
              }
              .company {
                color: #48e9f1;
                text-decoration: none;
              }
              .company:hover {
                border-bottom: solid 1px #48e9f1;
              }
            }
            .work-description {
              display: flex;
              flex-wrap: wrap;
              list-style-type: "- ";
              padding-top: 20px;
              padding-left: 20px;
              li {
                color: #94a3b8;
                margin-bottom: 10px;
                border-radius: 5px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  //SKILLS
  #languages-and-skills-section {
    padding: 0px 20px;
    margin-bottom: 100px;

    #languages-wrapper {
      display: flex;
      flex-wrap: wrap;

      .title-section {
        // flex-direction: column;
        justify-content: flex-start;
        width: 100% !important;
        padding-bottom: 70px;
      }
    }

    .row-app-icon {
      justify-content: flex-start !important;
      flex-direction: column !important;
      flex-wrap: wrap;

      .col-app-icons {
        margin: 20px;
        text-align: left;

        .icon-wrapper {
          margin-top: 10px;
          display: flex;

          .icon-frame {
            width: 45px;
            height: 45px;
            // border: solid 1px white;
            padding: 0px 3px;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  //PROJECTS
  #projects-section {
    margin-bottom: 150px;
    padding-top: 80px;
    padding-bottom: 150px;
    padding: 0px 20px;
    height: auto;

    #graphics-modal {
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.78);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      display: none;
      overflow: scroll;

      #closeBtn {
        float: right;
        padding: 20px;
        margin: 10px;
        color: white;
        cursor: pointer;
        font-size: 2rem;
      }

      #modal-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
      }

      #modal-content {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .switchBtn {
          display: none;
        }

        #largeImageWrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;

          #largeImage {
            width: 100%;
            height: 100%;
          }

          #graphic-description-wrapper {
            padding: 20px 30px;
            margin-bottom: 50px;

            .show-more-button {
              align-items: flex-start;

              .btn-wrapper {
                width: 70%;
                background-color: inherit !important;
                // border: none;
                border-top: none;
                border-left: none;

                button {
                  background-color: inherit !important;
                  width: 100% !important;
                  font-size: 1.3rem;
                }
              }
            }

            #graphic-description {
              margin: 20px 0px 30px;
              line-height: 30px;
            }
          }
        }
      }

      #images-thumb-wrapper {
        // border: solid 1px green;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image-thumb {
          margin: 0px 20px;
          width: 50px;
          // border: solid 1px red;
          cursor: pointer;
        }
      }
    }

    .title-section {
      // flex-direction: column;
      justify-content: flex-start;
      width: 100% !important;
      padding-bottom: 70px;
    }

    #projects-menu-wrapper {
      display: flex;
      justify-content: center;

      li {
        padding: 20px;
        width: 25%;
        text-align: center;
        margin-bottom: 40px;
      }
      .active {
        border-bottom: solid 2px #48e9f1;
        color: #48e9f1;
      }
      li:hover {
        color: #48e9f1;
        border-bottom: solid 2px #48e9f1;
        cursor: pointer;
      }
    }

    .webAndGraphicsBoxWrapper {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      width: 100%;
    }

    .websiteMainContainer {
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: 0.4s;
      padding: 0px;
      margin-right: 10px;

      .websiteBox {
        background-color: #102340;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100vw;

        img {
          width: 100%;
        }

        .websiteInformation {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 20px;
          overflow: auto;
          padding-right: 900px !important;
          width: 85%;
        }

        .websiteName {
          color: #48e9f1;
        }

        .websiteLink {
          color: #48e9f1;
          text-decoration: none;
        }

        .websiteLink:hover {
          border-bottom: solid 1px #48e9f1;
        }
      }
    }

    .graphicsMainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: 100vh;
      padding: 0px;
      // margin-right: -300px;
      transition: 0.4s;
      opacity: 0.4;
      padding: 0px;
      margin-left: 10px;

      .graphicBox {
        background-color: #102340;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
        height: auto;

        img {
          width: 100%;
          // height: 13rem;
        }

        .graphicInformation {
          width: 90%;
          position: relative;
        }

        .graphicName {
          color: #48e9f1;
        }

        .graphicLink {
          color: #48e9f1;
          text-decoration: none;
        }

        .graphicLink:hover {
          border-bottom: solid 1px #48e9f1;
        }
      }
    }

    .websiteMainContainer::-webkit-scrollbar {
      display: none;
    }

    .graphicsMainContainer::-webkit-scrollbar {
      display: none;
    }
  }

  //CONTACT
  #contact-section {
    padding-top: 75px;
    #contact-wrapper {
      // background-color: orangered;
      width: 90%;
      margin: auto;

      #contact-content {
        height: 55vh;
        padding: 50px 0px;
        background-color: #102340;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin-bottom: 30px;
          font-size: 1.3rem;
          line-height: 30px;
        }

        #contact-text-heading {
          font-size: 3.5rem;
          margin-bottom: 30px;
          color: #e2e8f0;
        }

        #cta-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100px;

          #cta-bg {
            border: solid 1px #48e9f1;
            background-color: #48e9f1;
            border-radius: 3px;
            width: 23rem;
            height: 86px;

            #emailBtn {
              display: block;
              padding-top: 20px;
              text-decoration: none;
              border: solid 1px #48e9f1;
              background-color: #101c37;
              color: #48e9f1;
              cursor: pointer;
              border-radius: 3px;
              margin-top: -5px;
              margin-left: -5px;
              width: 23rem;
              height: 65px;
              font-weight: bold;
              transition: 0.4s;
              font-size: 1.9rem;
            }

            #emailBtn:hover {
              border-radius: 3px;
              margin-top: 0px;
              margin-left: 0px;
            }
          }
        }
        #socials {
          width: 100%;

          ul {
            display: flex;
            justify-content: center;
            width: inherit;
            list-style-type: none;
            li {
              margin: 20px;
              // border: solid 1px wheat;
              height: 30px;
              display: flex;
              align-items: center;
              width: 30px;
              height: 30px;

              a {
                display: block;
                width: 30px;
                height: 30px;
                color: #94a3b8ab;
                font-size: 1.5rem;
                // margin: 10px;
                transition: 0.5s;
              }

              a:hover {
                // margin-top: -10px;
                color: #48e9f1;
              }
            }
          }
        }
      }
    }
  }
}

//TABLET
@media (max-width: 1024px) {
  //NAVBAR
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  //HERO
  #home {
    // background-color: firebrick;
    height: auto;
    padding: 50px 20px;
    #hero-section {
      overflow: visible;
      .text-image-wrapper {
        // text-align: left;
        width: 90%;
        margin: auto;
        #hero-text {
          #greetings {
            font-size: 3.5rem;
            margin-bottom: 50px;
          }
          #name {
            color: #e2e8f0;
            font-size: 5.8rem;
            line-height: 7rem;
          }
          #position {
            color: #94a3b8;
            font-size: 2.2rem;
            margin-bottom: 50px;
            line-height: 3rem;
          }
          #slogan {
            line-height: 2rem;
            font-size: 1.3rem;
            width: 100%;
          }

          .show-more-button {
            display: flex !important;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 10px;

            .btn-wrapper {
              border: solid 1px #48e9f1;
              background-color: #48e9f1;
              // border-radius: 3px;
              width: 45%;
              // height: 56px;

              button {
                width: 100% !important;
                background-color: #101c37 !important;
              }
            }
          }
        }
      }
    }
  }

  //ABOUT
  #about-section {
    display: flex;
    height: auto;
    padding-top: 50px;

    #about-wrapper {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title-section {
        width: 90%;
      }

      .content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;

        .text-wrapper {
          width: 90%;
          p {
            font-size: 1.3rem;
            line-height: 30px;
          }
        }

        .image-wrapper {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          position: relative;
          margin-bottom: 60px;

          #image-container {
            border: solid 1px #56d8d5;
            width: 240px;
            height: 240px;
          }

          img {
            position: absolute;
            margin-top: -15px;
            margin-left: -25px;
            transition: 0.4s;
          }
        }
      }
    }
  }

  //SKILLS
  #languages-and-skills-section {
    padding: 0px 20px;
    margin-bottom: 100px;

    #languages-wrapper {
      display: flex;
      flex-wrap: wrap;

      .title-section {
        // flex-direction: column;
        justify-content: flex-start;
        width: 90%;
        margin: auto;
        padding-bottom: 70px;
      }
    }

    .row-app-icon {
      justify-content: flex-end;
      flex-direction: row;
      flex-wrap: wrap;

      .col-app-icons {
        margin: 20px;
        text-align: left;

        .icon-wrapper {
          margin-top: 10px;
          display: flex;

          .icon-frame {
            width: 45px;
            height: 45px;
            // border: solid 1px white;
            padding: 0px 3px;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  //PROJECTS
  #projects-section {
    .title-section {
      // flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 70px;
      width: 90%;
      margin: auto;
    }
  }

  //CONTACT
  #contact-section {
    padding-top: 75px;
    #contact-wrapper {
      // background-color: orangered;
      width: 90%;
      margin: auto;

      #contact-content {
        height: auto;
        padding: 50px 0px;
        background-color: #102340;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin-bottom: 30px;
          font-size: 1.3rem;
          line-height: 30px;
        }

        #contact-text-heading {
          font-size: 3.5rem;
          margin-bottom: 30px;
          color: #e2e8f0;
        }

        #cta-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100px;

          #cta-bg {
            border: solid 1px #48e9f1;
            background-color: #48e9f1;
            border-radius: 3px;
            width: 23rem;
            height: 86px;

            #emailBtn {
              display: block;
              padding-top: 20px;
              text-decoration: none;
              border: solid 1px #48e9f1;
              background-color: #101c37;
              color: #48e9f1;
              cursor: pointer;
              border-radius: 3px;
              margin-top: -5px;
              margin-left: -5px;
              width: 23rem;
              height: 65px;
              font-weight: bold;
              transition: 0.4s;
              font-size: 1.9rem;
            }

            #emailBtn:hover {
              border-radius: 3px;
              margin-top: 0px;
              margin-left: 0px;
            }
          }
        }
        #socials {
          width: 100%;

          ul {
            display: flex;
            justify-content: center;
            width: inherit;
            list-style-type: none;
            li {
              margin: 20px;
              // border: solid 1px wheat;
              height: 30px;
              display: flex;
              align-items: center;
              width: 30px;
              height: 30px;

              a {
                display: block;
                width: 30px;
                height: 30px;
                color: #94a3b8ab;
                font-size: 1.5rem;
                // margin: 10px;
                transition: 0.5s;
              }

              a:hover {
                // margin-top: -10px;
                color: #48e9f1;
              }
            }
          }
        }
      }
    }
  }
}
